@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


/*:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}
*/

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: bisque;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 3s;
}
 header.sticky{
    background: pink;
 }

.logo {
    font-size: 2.5rem;
    color: black;
    background-color: white;
    font-weight: 600;
}

.navbar {
    font-size: 1.7rem;
    color: black;
    background-color: beige; 
    font-weight: 500;
    margin-left: 3.5rem;
}

.navbar a {
    font-size: 1.7rem;
    color: black;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 2s;
}
.navbar a:hover {
    background-color: turquoise;
    color: black;
    box-shadow: 0 0 10x turquoise;
}

#menu-icon {
    font-size: 3.5rem;
    color: black;
    cursor: pointer;
    display: none;
    
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 60rem;
}

.home-content h1 {
    color: antiquewhite;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}
 .home-content h1 span{
    color: lightcoral;
 }

.home-content .text-animate {
    position: relative;
    width: 8rem;
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 500;
    color: var(--bg-color);
    -webkit-text-stroke: .5px beige;
}

.home-sci {
    position: absolute;
    bottom: 18rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: .3rem solid white;
    border-radius: 70px;
    font-size: 20px;
    color: white;
    z-index: 1;
    overflow: hidden;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    border: 2px solid beige;
    transition: 3s;
}

.home-imgHover:hover {
    background: beige;
    opacity: .8;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: beige;
    /*background-image: url(images/aboutme.webp) no-repeat center;
	background-size: cover;
	z-index: -1;*/
    padding-bottom: 6rem;
    
}

.about:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/aboutme.webp") no-repeat center;
	background-size: cover;
	z-index: -1;
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid beige;
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid red;
    border-bottom: .2rem solid red;
    border-left: .2rem solid blue;
    border-right: .2rem solid blue;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: paleturquoise;
}

.education {
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    /*background-color: beige;*/
	padding: 20px 100px;
}

.education:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/educ1.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
}
.education-section {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    
}

.education-section .education-box{
    flex: 1rem;
    flex-direction: column;
    padding: 2rem 3rem 4rem;
    border-radius: 2rem;
    background: white;
    text-align: center;
    border: 3px solid #000;
    transition: .5s ease;
}

.education-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: left;
}

.education-box:hover{
    border: 3px solid orange;
    transform: scale(1.2);
}

.education-box i{
    font-size: 30px;
    color: red;
}

.education h3{
    font-size: 2.6rem;
}

.education-box p{
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}

.education-box a{
    font-size: 1 ;
}

.projects {
    position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    /*background-color: beige;*/
	padding: 20px 100px;
}
.projects:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/projimg.jpg") no-repeat center;
	background-size: cover;
	z-index: -1;
}
.projects-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.projects-box {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 290px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(45, 255, 118)50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.projects-box h1{
    font-size: 2rem;
}

.projects-box p{
    font-size: 1.5rem;
}

.projects-box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(255, 45, 45);
}

.projects-box img {
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}

.contact{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/contact.webp") no-repeat center;
	background-size: cover;
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-left{
	background: url("images/contactimg.png") no-repeat center;
	background-size: cover;
	height: 100%;
}

.contact-right{
	padding: 25px 40px;
}

.contact h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.contact-field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.contact-field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.contact-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.contact-btn:hover{
    background-color: #27ae60;
}

.contact-field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}